.App {
  text-align: center;
}

.timer-text {
  font-size: large;
  margin-right: 20px;
  margin-top: 5px
}

.btn-orange {


border-color: rgba(255,90,67,);
background-color: rgba(255,113,96);



}
.main {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  background-color:rgba(255,113,96);
  color: #fff;
}